<!DOCTYPE html>
<html>
<head>
    <title>Finance</title>
</head>
<body>
    <form action="submit_form" method = "POST" class="reveal-content">
        Напиток: <br>
        <select name='product'>
            <option value="americano">Американо</option>
            <option value="latte">Латте</option>
            <option value="cupp">Капучино</option>
            <option value="esp">Эспрессо</option>
        </select><br>
        Размер: <br>
        <input type="radio" name='size' value="big">Большой<br>
        <input type="radio" name='size' value="small">Маленький<br>
        Количество: <br>
        <input type="number" name='number'><br>
        <input type="submit" value = 'Отправить'>
        <input type="reset" value = 'Сброс'>
    </form>
</body>

</html>